OPENAI_API_KEY=sk-proj-I7CJ_wvFUxDdEWOJdNW065mW4_rlBiIxPVZBsTnFBb-xLCLzfPMF80oO2epOEpQXLF0ESs85CT3BlbkFJi9DR4eU9_kaxG4zA94gzElidDkJbCYjmShRxh__111NccJtWOC12FaypG8b9eBJPK7Tvu9fvkA
SUPABASE_URL=https://zhaarabzemhantyxxckq.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpoYWFyYWJ6ZW1oYW50eXh4Y2txIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzYxMDg3MywiZXhwIjoyMDg5MTg2ODczfQ.563MnBW4lN5ugvgCs_tbEIGueNWkSfkjZ621SVr9kaU
